// Write your styles here

$fonts: (
  font-1: ('Source Sans Pro', sans-serif),
  font-2: $themeFont
);

%flex {
	display: flex;
	align-items: center;
}

@mixin logo {
	@extend %flex;
	font-family: map-get($fonts, font-2);
  font-weight: 600;
  text-align: center;
  line-height: 1.3;

  img {
  	width: 39px;
  }

  p {
    font-size: 21px;
    padding: 12px;

  	span {
    	display: block;
      font-size: 9px;
    }
  }
}

@mixin line {
	content: "";
  display: block;
  background: $underlineBackgroundColor;
}

@mixin button {
  background: $buttonBackgroundColor;
  border: none;
  border-radius: 3px;
  color: #f2f3cf;
  font-family: map-get($fonts, font-1);
  font-weight: 600;
	font-size: 17px;
  padding: 10px 36px;

	&:hover {
    background-color: lighten($buttonBackgroundColor, 10%);
	}
}

@mixin lineSize {
  height: 10px;
  margin: -11px auto;
}

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
	padding: 0;
	background: $contentBackgroundColor;
  color: $contentFontColor;
}

.header {
	background: $headerBackgroundImage;
  background-size: cover;
  height: 46.2vw;
  border-bottom-right-radius: 40%;

  .header-wrap {
    margin-left: 135px;

    .landing-logo {
      @include logo;
      padding-top: 5px;
    }

    .header_heading {
      font-family: map-get($fonts, font-1);
      font-weight: bold;
      font-size: 63px;
      margin-top: 52px;
      letter-spacing: 0.2px;
      max-width: 694px;
      line-height: 1;

      &::after {
        @include line;
        height: 22px;
        margin-top: -21px;
        width: 266px;
      }
    }

    .header_text {
      font-family: map-get($fonts, font-2);
      font-size: 14px;
      white-space: pre-line;
      line-height: 1.5;
      margin-top: 31px;
      letter-spacing: 0.2px;
    }

    .header_button {
      @include button;
      margin-top: 53px;
    }
  }
}

.section_text {
  text-align: center;
  font-family: map-get($fonts, font-1);
  font-weight: 600;
	font-size: 37px;
  margin-top: 33px;

	&::after {
		@include line;
    height: 11px;
    margin: -18px 0 0 50%;
    width: 166px;
    position: absolute;
    z-index: -1;
    transform: translateX(+3.9%);
	}
}

.section_card_wrap {
  display: flex;
  justify-content: center;
  margin-top: 33px;

	.section_card {
    background: $someBackgroundColor;
    margin: 0 8px;
    padding: 18px;
    text-align: center;
    border-radius: 5px;
		max-width: 349px;
    height: 401px;

		.section_card_img {
      width: 100%;
			border-radius: inherit;
    }

		.section_card_heading {
      color: white;
      font-family: map-get($fonts, font-1);
      font-weight: 600;
			font-size: 21px;
      margin-top: 9px;
    }

    &:first-of-type .section_card_underline::after {
      @include line;
      @include lineSize;
      width: 161px;
    }

    &:nth-of-type(2) .section_card_underline::after {
      @include line;
      @include lineSize;
      width: 135px;
    }

    &:last-of-type .section_card_underline::after {
      @include line;
      @include lineSize;
      width: 104px;
    }

		.section_card_text {
      color: #c0c3ce;
      font-family: map-get($fonts, font-2);
      font-size: 14px;
      letter-spacing: 0.1px;
      word-spacing: 0.1px;
      line-height: 1.5;
    }

    &:not(:last-of-type) .section_card_text {
      margin-top: 24px;
    }

    &:last-of-type .section_card_text {
      margin-top: 35px;
    }
	}
}

.section_banner {
  @extend %flex;
  justify-content: space-around;
  position: absolute;
  background: $bannerGradient;
  border-radius: 5px;
  left: 0;
  right: 0;
  margin: 123px auto;
  width: 841px;
  height: 126px;

	.section_banner_text_wrap {
    line-height: 4;
    margin-top: -32px;

		.section_banner_heading {
      font-family: map-get($fonts, font-1);
      font-weight: bold;
      font-size: 26px;
      letter-spacing: 0.2px;

			&::after {
				@include line;
        height: 12px;
        margin: -51px 0 0 107px;
				width: 55px;
			}
    }

		.section_banner_text {
      color: $someFontColor;
      font-family: map-get($fonts, font-2);
      font-size: 14px;
		}
  }

  .section_banner_button {
    @include button;
  }
}

.footer {
  background-color: $someBackgroundColor;
  color: $someFontColor;

  .footer-wrap {
    @extend %flex;
    justify-content: space-around;
    height: 212px;
    margin-top: 184px;
    padding-top: 66px;

    .footer_logo {
      @include logo;
    }

    .footer_text {
      font-family: map-get($fonts, font-2);
      font-size: 12px;
      max-width: 269px;
      line-height: 1.5;
      letter-spacing: 0.1px;
      margin-left: -17px;
    }

    .footer-cr {
      font-family: map-get($fonts, font-2);
      font-size: 13px;
      letter-spacing: 0.3px;
    }
  }
}
