$themeFont: ('Hind', sans-serif);
$underlineBackgroundColor: #14a0c7;
$buttonBackgroundColor: #699900;
$contentBackgroundColor: #fff;
$contentFontColor: #2c2f3c;
$headerBackgroundImage: url("../img/m-h-day.jpg") no-repeat 0 center;
$someBackgroundColor: #21232e;
$someFontColor: #c0c3ce;
$bannerGradient: linear-gradient(45deg, #689801, #2c5ade);
