$themeFont: ('Fresca', sans-serif);
$underlineBackgroundColor: #ff4e33;
$buttonBackgroundColor: #e3ac00;
$contentBackgroundColor: #21232e;
$contentFontColor: #fff;
$headerBackgroundImage: url("../img/m-h-night.jpg") no-repeat 0 center;
$someBackgroundColor: #3b3f50;
$someFontColor: #c0c3ce;
$bannerGradient: linear-gradient(45deg, #e3ab01, #912b53);
